@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,400;0,800;1,600&display=swap');

body{
  background-color: #93C5FD;
  color: beige;
  font-family: 'Nunito Sans', sans-serif;
  font-size: large;
  
}

.header{
  padding:1rem 1rem;
  border: 1rem 2rem;
}

hr{
  color:white;
  width:30%;
  text-align:center;
  border: 2px solid;
}

nav{
  padding: 1rem 0rem;
}

.head-foot-block{
  background-color: #246fe7;
  color:white;
  border-radius: 2rem;
  padding:1.5rem 1.5rem;
}

.head-block-options{
  display:inline;
  padding:0rem 0.5rem;
  list-style: none;
  text-align: center;
}

.head-list-right{
  text-align: right;
  list-style: none;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
}

.link{
  padding:0.5rem;
  color:white;
  text-decoration: none;
  text-align: center;
}

.act-link{
  padding:0.5rem;
  color:white;
  text-decoration: none;
  text-align: center;
  border-radius: 1rem;
  border: 2px solid white;
}

.link-connect{
  border-radius: 1rem;
  border: 2px solid white;
}

.img-block{
  text-align: center;
  padding:0rem 3rem;  
  max-width: 400px;
  display:block;
  margin:auto;
}

.images{
  text-align:center;
  max-width: 300px;
  display:block;
  margin:auto;
  padding-top: 1rem;
}

.block{
  text-align: center;
  padding:0rem 3rem;  
  max-width: 400px;
  display:block;
  margin:auto;
}
.para{
  text-align: center;
  display: block;
  padding:1rem 2rem;
  margin:0.5rem 2rem;
}

.list-foot{
  text-align: center;
  list-style: none;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
}

.foot-block-options{
  display:inline;
  list-style: none;
  text-align: center;
  border-radius: 1rem;
  border: 2px solid white;
  margin: 0.5rem 1rem;
}

.list-projs-main{
  text-align: center;
  padding: 0.5rem 0.5rem;
  list-style: none;
  padding-inline-start: 0px;
}

.list-projs-sub{
  display:inline;
  text-align: center;
  padding-inline-start: 0px;
}
.list-projs-items{
  display:inline;
  list-style: none;
  text-align: center;
  border-radius: 1rem;
  border: 2px solid white;
  padding-inline-start: 0px;
}

.list-set{
  padding-inline-start: 0px;
}

.list-blogs{
  text-align: center;
  list-style:none;
}

.list-blogs-items{
  text-decoration: none;
  display:inline;
  list-style: none;
  border-radius: 1rem;
  border: 2px solid white;
  margin:2rem;
  padding:0rem 1rem;
  color:white;
}